<h1>There are {{count}} words in your text</h1>

<a href="{% url 'home' %}">Start Again</a>

<h2>Your Text:</h2>
<p>{{fulltext}}</p>

<h1>Word Count:</h1>
{% for word, count_total in sorted_words %}
  {{word}} - {{count_total}}
  <br />
{% endfor %}
