<h1>Word Count</h1>

<form action="{% url 'count' %}">
  <textarea cols="50" rows="10" name="fulltext"></textarea>
  <br><br>
  <input type="submit" value="Count!" />
</form>

<p>
  <a href="{% url 'about' %}">About Us</a>
</p>
